@import url("https://fonts.cdnfonts.com/css/minecraft-4");
@import url("https://fonts.cdnfonts.com/css/roboto");
@import "_reset";
@import "_animation";
.container {
    max-width: 1220px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}
.info__block {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 0;
}
.navbar {
    &__logo {
        font-family: "Minecraft", sans-serif;
        text-align: center;
        color: #fff;

        h1 {
            font-size: 92px;
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
        }

        p {
            font-size: 30px;
        }

        span {
            font-family: "Minecraft", sans-serif;
        }
    }
}
.info {
    &__wrapper {
        padding: 100px 0;
    }
    &__text {
        text-align: center;
        color: #fff;
        h1 {
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
            font-family: "Minecraft", sans-serif;
            font-size: 36px;
            text-align: center;
            color: #fff;
        }
    }
    &__social {
        margin: 50px 0;
        .sell {
            padding: 12px;
            border: 2px solid #fff;
            font-family: "Minecraft", sans-serif;
            font-size: 36px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 3px;
            border-radius: 3px;
            color: #fff;
            background: transparent;
            margin: 40px auto;
            display: flex;
            justify-content: center;
            transition: all 0.3s ease;
            &:hover {
                background-color: #fff;
                color: #000;
                cursor: pointer;
            }
        }
    }
    &__social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            margin: 0 10px;
            background-color: #fff;
            border-radius: 10px;
            transition: all 0.3s ease;
            &:hover {
                opacity: 0.5;
            }
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}
.stroke {
    font-size: 16px;
    animation: marquee 5s infinite linear;
    font-size: sans-serif;
    display: flex;
    max-width: 100%;
    h1 {
        font-size: 58px;
    }
}
.marquee {
    background-image: url("../img/tree.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12px 0;
    h1 {
        font-size: 72px;
        font-family: "Minecraft", sans-serif;
        color: #fff;
    }
}
.network {
    background-image: url("../img/texture-earth.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
    &__intro {
        h1 {
            font-size: 92px;
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
            font-family: "Minecraft", sans-serif;
            text-align: center;
            color: #fff;
        }
        p {
            font-size: 36px;
            font-family: "Roboto", sans-serif;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            margin: 15px 0;
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
        }
    }
    &__major-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        img {
            // width: 360px;
            // height: 200px;
            margin: 0 auto;
            transition: all 0.3s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__major-subtitle {
        margin: 20px auto;
        p {
            text-align: center;
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
            font-family: "Minecraft", sans-serif;
            text-align: center;
            color: #fff;
        }
    }
}
.helmet {
    background-color: #87ceeb;
    background-image: url("../img/trees.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 200px 0;
    &__intro {
        h1 {
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
            font-family: "Minecraft", sans-serif;
            font-size: 92px;
            text-align: center;
            color: #fff;
        }
    }
    &__subtitle {
        margin: 50px auto;
        text-align: center;
        p {
            font-family: "Minecraft", sans-serif;
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
            color: #fff;
            margin: 50px 0;
        }
    }
}
.minecraft-button {
    margin: 70px auto;
    background-color: #c1c1c1;
    border: 3px solid #4a4a4a;
    box-shadow:
        inset -4px -4px #fefefe,
        inset 4px 4px #737373;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    transition: transform 0.1s;
    font-family: "Minecraft", sans-serif;
}

.minecraft-button:active {
    transform: translateY(2px);
    box-shadow:
        inset -2px -2px #fefefe,
        inset 2px 2px #737373;
}
.tokenomics {
    background-image: url("../img/texture-earth.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
    &__intro {
        text-align: center;
        h1 {
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
            font-family: "Minecraft", sans-serif;
            font-size: 92px;
            text-align: center;
            color: #fff;
        }
        p {
            margin: 20px 0;
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
            font-family: "Minecraft", sans-serif;
            font-size: 36px;
            text-align: center;
            color: #fff;
        }
    }
    &__date {
        display: flex;
        justify-content: center;
    }
    &__btn {
        background-color: #c1c1c1;
        border: 3px solid #4a4a4a;
        box-shadow:
            inset -4px -4px #fefefe,
            inset 4px 4px #737373;
        font-size: 16px;
        color: #fff;
        padding: 10px 20px;
        margin: 0 10px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        transition: transform 0.1s;
        font-family: "Minecraft", sans-serif;
        display: flex;
        flex-wrap: wrap;
        word-wrap: normal;
        max-width: 320px;
        width: 100%;
        &:active {
            transform: translateY(2px);
            box-shadow:
                inset -2px -2px #fefefe,
                inset 2px 2px #737373;
        }
    }
    &__buy {
        background-color: #c1c1c1;
        border: 3px solid #4a4a4a;
        box-shadow:
            inset -4px -4px #fefefe,
            inset 4px 4px #737373;
        font-size: 16px;
        color: #fff;
        padding: 10px 20px;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        max-width: 320px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        transition: transform 0.1s;
        font-family: "Minecraft", sans-serif;
        &:active {
            transform: translateY(2px);
            box-shadow:
                inset -2px -2px #fefefe,
                inset 2px 2px #737373;
        }
    }
}
.footer {
    background-image: url("../img/texture-earth.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}
.social {
    &__intro {
        h1 {
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
            font-family: "Minecraft", sans-serif;
            font-size: 92px;
            text-align: center;
            color: #fff;
        }
        p {
            margin: 20px 0;
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000;
            font-family: "Minecraft", sans-serif;
            font-size: 36px;
            text-align: center;
            color: #fff;
        }
    }
}
@media screen and (max-width: 820px) {
    .tokenomics__date {
        flex-direction: column;
    }
    .tokenomics__btn {
        margin: 10px auto;
        width: 100%;
    }
}
@media screen and (max-width: 630px) {
    .info__block {
        background-position: center right;
    }
    .info__social-icons {
        flex-wrap: wrap;
        gap: 10px;
    }
    .info__social .sell {
        font-size: 21px;
    }
    .navbar__logo h1 {
        font-size: 36px;
    }
    .navbar__logo p {
        font-size: 30px;
    }
    .network {
        background-size: cover;
    }
    .network__intro h1 {
        font-size: 36px;
    }
    .network__intro p {
        font-size: 30px;
    }
    .network__major-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .network__major-wrapper img {
        margin: 10px auto;
    }
    .helmet__intro h1 {
        font-size: 36px;
    }
    .helmet__intro p {
        font-size: 30px;
    }
    .tokenomics {
        background-size: cover;
    }
    .tokenomics__intro h1 {
        font-size: 36px;
    }
    .tokenomics__intro p {
        font-size: 30px;
    }
    .tokenomics__last-info {
        font-size: 8px;
    }
    .social {
        background-size: cover;
    }
    .social__intro h1 {
        font-size: 36px;
    }
    .social__intro p {
        font-size: 30px;
    }
    .marquee {
        display: none;
    }
}
@media screen and (max-width: 430px) {
    * {
        border: 2px solid red;
    }
}
